snippet b "replace badger/v3 => path/badger"
replace github.com/dgraph-io/badger/v3 => /home/ibrahim/Projects/go/src/github.com/dgraph-io/badger

endsnippet

snippet r "replace ristretto => path/ristretto"
replace github.com/dgraph-io/ristretto => /home/ibrahim/Projects/go/src/github.com/dgraph-io/ristretto

endsnippet

